<h1>Make all the cats!</h1>

<% @cats.each do |cat| %>
    <%= cat.name %><br>
    <%= cat.age %><br>
    <%= cat.color %><br>
    <%= cat.description %><br>
    <%= cat.sex %><br>
    <br><br>
<% end %>
